body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #262f3b;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 350px;
    margin-bottom: 50px;
    background-image:-webkit-linear-gradient(0deg, rgba(38,47,59,1) 12%, rgba(28,34,43,0.8) 44%, rgba(2,67,80,0.8) 100%), url("https://img.freepik.com/premium-photo/whimsical-doodle-seamless-pattern-bringing-joy-laughter-generative-ai_318002-2173.jpg?size=626&ext=jpg&ga=GA1.1.1276876723.1696859181&semt=ais");
    background-image: linear-gradient(0deg, rgba(38,47,59,1) 12%, rgba(28,34,43,0.8) 44%, rgba(2,67,80,0.8) 100%), url("https://img.freepik.com/premium-photo/whimsical-doodle-seamless-pattern-bringing-joy-laughter-generative-ai_318002-2173.jpg?size=626&ext=jpg&ga=GA1.1.1276876723.1696859181&semt=ais");
}

.buscador{
    width: 350px;
    height: 35px;
    padding: 0 0 0 10px;
    border-radius: 20px;
}

main {
    padding: 10px;

}

.main__sect{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 16px;
}

.article{
    width: 130px;
    background-image: -webkit-linear-gradient(0deg, rgba(38,47,59,0.8) 2%, rgba(0, 13, 32) 44%, rgba(2,67,80,0.8) 100%);
    background-image: linear-gradient(0deg, rgb(38,47,59,0.8) 2%, rgb(0, 13, 32) 44%, rgba(2,67,80,0.8) 100%);
}

.img__container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.img__container img {
    width: 100%;
    height: auto;
}

.art{
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.filter{
    display: none;
}

@media only screen and (max-width: 2920px) {
    .main{
        width: 1000px;
    }

    .article{
        margin: 0 0 0 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .main{
        width: 500px;
    }

    .article{
        margin: 0 0 0 5px;
    }
}

@media only screen and (max-width: 500px) {
    .main{
        width: 350px;
    }

    .article{
        margin: 0 0 0 0;
    }
}

@media only screen and (max-width: 450px) {
    .main{
        width: 200px;
    }

    .article{
        margin: 0 0 0 0;
    }

    .buscador{
        width: 250px;
        height: 35px;
        padding: 0 0 0 10px;
        border-radius: 20px;
    }
}